#div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  #button {
	width: 200px;
  }
  
  #img { 
	width: 200px;
	height: 200px;
	margin-top: 10px;
	display: none;
  }