body {
	font: normal normal bold 1.5em "Lucida Sans Unicode";
	margin: 0;
	padding: 0;
	width: 100%;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 30px 0 30px 0;
	text-align: center;
	width: 100%;
}

button {
	background-color: #67d07c;
	border: 0;
	font: normal normal bold 1.2em "Lucida Sans Unicode";
	height: 50px;
	width: 15%;
}

input {
	border: 2px solid #3bbf55;
	font: normal normal bold 1.2em "Lucida Sans Unicode";
	text-align: center;
	width: 20%;
}

p, h1 {
	width: 90%;
}

button:hover {
	background-color: #3bbf55;
	color: white;
	cursor: pointer;
}

button:active {
	background-color: #2f9844;
}

button:focus, input:focus {
	outline:none;
}